*.pack
*.pack
*.pack
*.old
/NewsApp/node_modules/
.cache
.eslintcache
/NewsApp/node_modules
*.pack
/NewsApp/node_modules
/NewsApp/node_modules
*.pack
/NewsApp/node_modules/.cache
/NewsApp/node_modules/.cache
/NewsApp/node_modules
/NewsApp/node_modules
/NewsApp/node_modules
/NewsApp/node_modules/.cache
